$base-color: rgb(241, 137, 4);

.cookie-consent {
  position: fixed;
  bottom: -50px;
  padding: 7px;
  color: #fff;
  font-size: 14px;
  background-color: #212529;
  z-index: 120;
  cursor: pointer;

  width: 250px;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid $base-color;
  border-radius: 10px;
  border-width: 100% !important;
  border-color: $base-color !important;
  color: & $base-color;
}

.dropbtn {
  background-color: #212529;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-top-width: 100% !important;
  border-top-style: inset !important;
  border-top-color: $base-color !important;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: $base-color;
}


@media screen and (min-width: 768px) {
  .cookie-consent {
    width: 630px;
  }
}




