<nav class="navbar navbar-expand-lg fixed-top bg-dark text-light p-0" role="navigation">
  <div class="container-fluid navbar-brand p-0">
    <img src="../assets/resources/rc_logo.png" style="height: 60px; padding-left: 20px; padding-right: 20px"
         routerLink="/">
    <p *ngIf="local" style="color: black; background-color: greenyellow" class="p-2">Local</p>
    <button class="navbar-toggler second-button navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse fs-6">
      <div class="d-flex flex-column flex-lg-row justify-content-between w-100">
        <div
          class="d-flex link-base flex-column flex-lg-row justify-content-center justify-content-md-start align-items-center text-center"
          *ngIf="authenticated">
          <!--Übersicht-->
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             class="link-base link-light p-3 d-none d-lg-block">Übersicht</a>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             class="link-base link-light p-3 d-block d-lg-none" data-bs-toggle="collapse"
             data-bs-target=".navbar-collapse">Übersicht</a>
        </div>

        <!--Abmelden-->
        <div class="d-flex flex-row justify-content-center align-items-center">
          <a *ngIf="authenticated" routerLink="nutzer"
             class="text-center p-3 link-light link-base d-none d-lg-block">
            <span style="max-width: 100px !important;"
                  class="after link-base-blue-reverse"> {{userProfile?.firstName }} {{userProfile?.lastName}} </span>
            <span class="base-color-blue"> {{roles.includes('admin') ? 'Admin' : ''}} </span>
          </a>
          <a *ngIf="authenticated" routerLink="nutzer"
             class="text-center p-3 link-light link-base d-block d-lg-none" data-bs-toggle="collapse"
             data-bs-target=".navbar-collapse">
            <span style="max-width: 100px !important;"
                  class="after"> {{userProfile?.firstName }} {{userProfile?.lastName}} </span>
            <span class="base-color-blue-reverse"> {{roles.includes('admin') ? 'Admin' : ''}} </span>
          </a>

          <a *ngIf="authenticated === false"
             class="nav-link p-3 text-center text-lg-end text-uppercase fw-bold link-base-reverse"
             style="cursor: pointer" (click)="login()">Anmelden
          </a>
          <span *ngIf="authenticated" class="p-3 ps-0 pe-0 text-white">|</span>
          <a *ngIf="authenticated" class="nav-link p-3 text-uppercase text-center text-lg-end fw-bold link-base-reverse"
             style="cursor: pointer" (click)="logout()">Abmelden</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Main Content-->
<div class="d-flex justify-content-center" id="mainContent">
  <div class="card col-10 h-100" style="background-color: transparent; border: none;">
    <router-outlet></router-outlet>
  </div>
</div>

<!--Cookie Hint-->
<div class="cookie-consent p-3" *ngIf="!cookieHandler.getCookie('cookieHint')">
  <span>Diese Seite nutzt Cookies für die Funktionalität und Verbesserung der Nutzererfahrung. Es werden keine personenbezogene Daten gesammelt. Weitere Infos: <a
    href="https://robocupjunior.de/datenschutz/" class="ml-1 base-color text-decoration-none">Datenschutz</a> </span>
  <div class="pt-3 d-flex align-items-center justify-content-center g-2">
    <button class="btn base-bg" (click)="cookieHandler.setCookie('cookieHint','true', 365)">Akzeptieren</button>
    <!--<button class="btn text-white" data-bs-dismiss="cookie-consent" aria-label="Close">Notwendige</button>-->
  </div>
</div>

<!--Footer-->
<footer class="dark-bg mt-auto">

  <div class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
    <a class="nav-link link-light p-2 p-sm-3 link-base" href="https://robocupjunior.de/impressum">Impressum</a>
    <a class="nav-link link-light p-2 p-sm-3 link-base"
       href="https://robocupjunior.de/datenschutz">Datenschutz</a>
    <a class="nav-link link-light p-2 p-sm-3 link-base" href="mailto:support@robocupjunior.de">Support</a>
  </div>


  <div class="mx-auto m-2 d-sm-flex justify-content-center">
    <div class="d-flex flex-column flex-sm-row align-items-center">
      <span class="text-muted mx-auto d-block" style="font-size: 13px;text-align: center">&copy; 2022 RoboCup</span>
      <span class="p-3 text-white d-sm-block d-none pt-0 pb-0">|</span>
      <a class="nav-link link-light p-1 p-sm-0 base-color white-color-hover" href="https://robocupjunior.de/">robocupjunior.de</a>
    </div>
  </div>
</footer>

