/* Importing Bootstrap SCSS file. */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "assets/fonts/font";
@import "../src/angularMatStyle.scss";

$base-color: rgb(241, 137, 4);
$base-color-hover: rgba(238, 113, 11, 0.918);
$base-card-color: hsl(0, 0%, 24%);
$dark-color: #7e7e7e;
$dark-color-bg: #212529;
$base-bg-btn-color: rgb(68, 45, 9);
$base-blue: rgb(7, 139, 186);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.base-color-blue {
  color: $base-blue !important;
}

.vl {
  border-left: 3px solid $base-color;
  height: 95%;
  float: right;
}

.num-list {
  ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
  }

  ol li:before {
    color: $base-color;
    content: counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: right;
  }
}

.rc-link {
  color: $base-color !important;
  background-color: none !important;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: white !important;
    transition-duration: 200ms;
    transition-property: color !important;
  }
}

.center-base {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.link-base {
  cursor: pointer;
  color: whitesmoke;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  text-decoration: none;

  .link-base.active {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-bottom-width: 100% !important;
    border-bottom-style: inset !important;
    border-bottom-color: $base-color !important;
    color: $base-color !important;
  }

  .link-base:hover {
    color: $base-color !important;
  }
}

.button-link {
  cursor: pointer;
  color: white !important;
  background-color: $base-color !important;
}

.button-link:hover {
  background-color: $base-color-hover !important;
}

.link-base-reverse {
  cursor: pointer;
  color: $base-color !important;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  text-decoration: none;
}

.link-base-reverse:hover {
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  color: $base-blue !important;
}

.link-base-blue {
  cursor: pointer;
  color: $base-blue !important;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  text-decoration: none;
}

.link-base-blue:hover {
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  color: white !important;
}

.link-base-blue-reverse {
  cursor: pointer;
  color: white !important;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  text-decoration: none;
}

.link-base-blue-reverse:hover {
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s;
  color: $base-blue !important;
}


.border-base {
  border: 1px solid $base-color;
  border-radius: 10px;
  border-width: 100% !important;
  border-color: $base-color !important;
  color: $base-color !important;
}

a.link-base:hover {
  color: $base-color !important;
}

.card-title {
  color: $base-color;
}

.card {
  background-color: $base-card-color;
  border: none !important;
}

.card-shadow {
  box-shadow: 10px 10px 10px 1px rgba(20, 20, 20, 0.3);
}

h1 {
  color: $base-color;
  padding-bottom: 20px;
}

.base-color {
  color: $base-color !important;
}

.card-color {
  background-color: $base-card-color !important;
}

.base-bg {
  background-color: $base-color !important;
}

.dark-bg {
  border: none;
  background-color: $dark-color-bg !important;
}

.base-outline {
  border-color: $base-color !important;
  color: white;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  font-weight: bold;
  background-color: $base-color;
  color: $dark-color-bg;
}

.topButton {
  height: 38px !important;
  color: white !important;
  background-color: #555555;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topButton:hover {
  color: currentColor;
  background-color: #444444 !important;
}

.topButton:checked {
  background-color: #444444 !important;
}

.topButton-base {
  height: 38px !important;
  color: white !important;
  background-color: $base-color !important;
  border: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.topButton-base:hover {
  color: currentColor;
  background-color: $base-color-hover !important;
  transition-duration: 200ms;
  transition-property: background-color;
}

.topButton-base:active {
  font-weight: 400 !important;
}


.rc-button-base {
  color: white !important;
  background-color: $base-color;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
  border-color: none;

  &:hover {
    color: currentColor !important;
    background-color: $base-color-hover !important;
    transition-duration: 200ms;
    transition-property: background-color !important;
  }

  &.disabled {
    pointer-events: none;
    background-color: rgba(202, 125, 23, 0.171);
    color: #444444 !important;
  }
}

.modal-header {
  background-color: $base-color !important;
}

.modal-body {
  background-color: $dark-color-bg;
  color: whitesmoke !important;
}

.modal-title {
  color: white;
}

.base-color {
  color: $base-color;
}

.base-dark-color {
  color: $dark-color !important;
  font-weight: bold;
}


.white-color-hover:hover {
  color: white !important;
}

.required {
  color: red;
  font-size: 8px;
  position: fixed;
  padding-top: 3px;
}

table {
  width: 100%;

  thead {
    user-select: none;
    background-color: $dark-color-bg !important;
  }
}

#tableHover {
  tr:hover td {
    background-color: #555555;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
}

table.mat-table {
  border-spacing: 0;
}

td:last-child {
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-left-width: 100% !important;
  border-left-style: inset !important;
  border-left-color: $base-color !important;
}

.scrollable {
  width: 100%;
  overflow: auto;
}

.abort {
  color: red;
  display: inline;
}

.base-bg-btn-color {
  color: $base-bg-btn-color;
}

.dropdown > .btn.show {
  color: white;
}

.dropdown-menu {
  cursor: pointer;
  background-color: #5C636AFF;
  border: none !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2px !important;
  padding-bottom: 0 !important;
  box-shadow: 10px 10px 10px 1px rgba(20, 20, 20, 0.3);

  a {
    color: white;

  }

  a:hover {
    background-color: white !important;
    transition-duration: 500ms;
    transition-property: background-color color;
  }
}

.cdk-overlay-pane {
  transform: translateX(-12px) translateY(28px) !important;
}


.filterButton {
  height: 38px !important;
  background-color: $base-blue !important;
  color: white !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    background-color: rgb(13, 111, 146) !important;
  }
}

.before::before, .after::after {
  content: "\A";
  white-space: pre;
}

.typeTwo {
  background-color: #4a4a4a !important;
}

.tableColor {
  background-color: #3b3b3b !important;

  > :hover {
    background-color: #555555 !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
}
